@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Components
@using BTCPayServer.Plugins.AutoForward.Views
@using BTCPayServer.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject DisplayFormatter DisplayFormatter
@model BTCPayServer.Plugins.AutoForward.Controllers.InvoicesViewModel
@{
    ViewData.SetActivePage(PluginNavPages.Index, "Auto-Forward Payments");
    ViewData.SetActiveCategory(typeof(AutoForwardNavPages));
}

<div class="sticky-header-setup"></div>
<div class="sticky-header mb-l">
    <partial name="Partials/AutoForwardMenu"/>
</div>

<div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Logs</h3>
</div>

<ul>
    <li>Logs are available for each invoice. Open the invoice to see it's history.</li>
    <li>General logs are available via: Server Settings > Logs</li>
</ul>