@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Components
@using BTCPayServer.Plugins.AutoForward.Views
@using BTCPayServer.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject DisplayFormatter DisplayFormatter
@model BTCPayServer.Plugins.AutoForward.Controllers.InvoicesViewModel
@{
    ViewData.SetActivePage(AutoForwardNavPages.Payouts, "Auto-Forward Payments");
    ViewData.SetActiveCategory(typeof(PluginNavPages));
}

<div class="sticky-header-setup"></div>
<div class="sticky-header mb-l">
    <partial name="Partials/AutoForwardMenu"/>
</div>


<div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Payouts</h3>
</div>
<div class="table-responsive">
    <table id="payouts" class="table table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th class="text-nowrap">Payout ID</th>
            <th class="text-nowrap">Invoice ID</th>
            <th class="text-nowrap">Order ID</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<vc:pager view-model="Model"/>